<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body {
      font-family: 'Arial', sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
    }

    .container {
      max-width: 600px;
      margin: 20px auto;
      background-color: #9F70FD;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }

    h1 {
      color: rgb(0, 0, 87);
      font-size: 25px;
    }

    p {
      color: white;
      font-size: 20px;
    }

    .code {
      display: inline-block;
      padding: 10px;
      background-color: #7F27FF;
      color:white;
      font-weight: bold;
      font-family: 'Courier New', monospace;
      font-size: 30px;
      border-radius: 5px;
    }
    .small{
      font-size: 15px;
      margin-top: 10px;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Account Activation</h1>
    <p>Hello <%= user.name %>,</p>
    <p>Thank you for creating an account on E-learning. To activate your account, please use the following activation code:</p>
    <div class="code"><%= activationCode %></div>
      <p class="small">If you didn't create this account, you can safely ignore this email.</p>
    <p class="small">Best regards,<br>E-learning</p>
  </div>
</body>
</html>
